*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    position: relative;
    background: #111;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fingerprint{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: url(fingerPrint_01.png);
    width: 300px;
    height: 350px;
    /* transform: translate(-50% ,50%); */
    /* border: 1px solid red; */
    background-size: 250px;
    background-repeat: no-repeat;
}

.fingerprint::after{
    position: absolute;
    content: '';
    background: url(fingerPrint_02.png);
    width: 300px;
    height: 350px;
    background-size: 250px;
    background-repeat: no-repeat;
    animation: animinate 4s infinite;
    top: 0%;
}

@keyframes animinate{
    0%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}

.fingerprint::before{
    content: '';
    position: absolute;
    width: 80%;
    left: 10px;
    top: 0%;
    height: 8px;
    background: #3fefef;
    animation:animinate_line 4s infinite;
    /* box-shadow: 0 10px 30px 5px #3fefef,
    0 -10px 30px 5px #3fefef ; */
filter: drop-shadow(0 10px 10px #3fefef);
}

@keyframes animinate_line{
    0%{
        top: 0%;
    }
    50%{
        top: 100%;
    }
    100%{
        top: 0%;
    }
}

.fingerprint h3{
    position: absolute;
    top: 400px;
    color: #3fefef;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 75px;
    text-transform: uppercase;
    letter-spacing: 3px;
    filter: drop-shadow( 0 5px 10px #3fefef );
    animation: scanning steps(1) 1s infinite;
}

@keyframes scanning{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}


